@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1B1B1B;
  --custom-gray: #313131;
  --custom-gray-2: #232323;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-gray: var(--custom-gray);
  --color-custom-gray-2: var(--custom-gray-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1B1B;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
